body {
    background-color: #F5F1E6; /* светлый кремовый фон */
    margin: 0;                 /* убираем стандартные отступы браузера */
    font-family: 'Arial', sans-serif; /* шрифт для всей страницы */
    color: black;
}

.name{
  color: rgb(110, 100, 8);
  text-align: center;
}
main {
    max-width: 1920px;  /* максимальная ширина каталога */
    margin: 0 auto;      /* центрируем контейнер */
    padding: 0 20px;     /* внутренние отступы от краёв окна */
    box-sizing: border-box;
}
#catalog{
   display: flex;
    flex-wrap: wrap;            /* карточки переносятся на новую строку */
    justify-content: center;    /* центрируем ряд карточек */
    gap: 20px;                  /* расстояние между карточками */
    padding: 20px 0;
    box-sizing: border-box;

}
.card{
    width: 100%;   /* ширина карточки */
    max-width: 200px;
    min-width: 100px;
    height: 300px;  /* высота карточки */
    min-height: 100;
    background-color: #983820;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
     color: #ffffff; 
       transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.card:hover {
    transform: translateY(-10px); /* карточка приподнимается */
    box-shadow: 0 8px 20px rgba(0,0,0,0.15); /* тень становится глубже */
     background-color: #FFE1BD;
   
}
